<% provide(:class_text, '#') %>
<% provide(:button_text, '変更を送信する') %>

<%= form_with(model: @user, url: update_attendance_change_confirmation_user_attendance_path, local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <% @attendances.each do |user_id, attendances| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% user = User.find(user_id) %>
          <h1 class="modal-title">【<%= user.name %>からの勤怠申請変更】</h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <table class="table table-bordered table-condensed table-hover tbody-light" id="table-attendances">
              <thead>
                <tr>
                  <td rowspan="3">日付</td>
                  <td rowspan="3">曜日</td>
                  <td colspan="4">変更前</td>
                  <td colspan="4">変更後</td>
                  <td rowspan="3">備考</td>
                  <td rowspan="3">指示者確認㊞</td>
                  <td rowspan="3">変更</td>
                  <td rowspan="3">勤怠を確認する</td>
                </tr>
                <tr>
                  <td colspan="2">出社</td>
                  <td colspan="2">退社</td>
                  <td colspan="2">出社</td>
                  <td colspan="2">退社</td>
                </tr>
                <tr>
                  <td>時</td>
                  <td>分</td>
                  <td>時</td>
                  <td>分</td>
                  <td>時</td>
                  <td>分</td>
                  <td>時</td>
                  <td>分</td>
                </tr>
              </thead>

              <tbody>
                <% attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                    <tr>
                      <td><%= l(day.worked_on, format: :short) %></td>
                      <td><%= render 'users/days_of_the_week', day: day %></td>
                      <td><%= day.started_at.hour if day.started_at.present? %></td>
                      <td><%= day.started_at.floor_to(15.minutes).strftime("%M") if day.started_at.present? %></td>
                      <td><%= day.finished_at.hour if day.finished_at.present? %></td>
                      <td><%= day.finished_at.floor_to(15.minutes).strftime("%M") if day.finished_at.present? %></td>
                      <td><%= day.change_started_at.hour %></td>
                      <td><%= day.change_started_at.floor_to(15.minutes).strftime("%M") %></td>
                      <td><%= day.change_finished_at.hour %></td>
                      <td><%= day.change_finished_at.floor_to(15.minutes).strftime("%M") %></td>
                      <td><%= day.note %></td>
                      <td><%= attendance.select :confirmation_status, %w[申請中 承認 否認],
                                       { include_blank: false }, class: "form-control" %></td>
                      <td><%= attendance.check_box :confirmation_modify, {}, checked_value = "1", unchecked_value = "0" %></td>
                      <td><%= link_to "確認", user_path(day.user_id, date: day.worked_on), target: :_blank, rel: "noopener noreferrer" , class: "btn btn-primary" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>

      <div class="modal-footer">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-block form-control" %>
      </div>
    </div>
  </div>
<% end %>