<% provide(:class_text, 'overtime-application' ) %>
<% provide(:button_text, '変更を送信する' ) %>

<%= form_with(model: @user, url: update_superior_overtime_application_user_attendance_path, local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <% @attendances.each do |user_id, attendances| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <% user = User.find(user_id) %>
          <h1 class="modal-title">【<%= user.name %>からの残業申請】</h1>
        </div>

        <div class="modal-body">
          <div class="row">
            <table class="table table-bordered table-condensed table-hover tbody-light" id="table-attendances">
              <thead>
                <tr>
                  <td>日付</td>
                  <td>曜日</td>
                  <td>終了予定時間</td>
                  <td>指定勤務終了時間</td>
                  <td>時間外勤務</td>
                  <td>業務処理内容</td>
                  <td>指示者確認㊞</td>
                  <td>変更</td>
                  <td>勤怠を確認する</td>
                </tr>
              </thead>
              <% attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |attendance| %>
                  <tbody>
                    <tr>
                      <td><%= l(day.worked_on, format: :short) %></td>
                      <td><%= render 'users/days_of_the_week', day: day %></td>
                      <td><%= day.scheduled_end_time.floor_to(15.minutes).strftime("%H:%M") %></td>
                      <td><%= user.work_end_time.strftime("%H:%M") %></td>
                      <td>
                        <%= "#{scheduled_over_time(day, user)}時間" %>
                      </td>
                      <td><%= day.business_processing_content %></td>
                      <td><%= attendance.select :instructor_confirmation, %w[申請中 承認 否認 なし],
                                                {}, class: "form-control" %></td>
                      <td><%= attendance.check_box :change_box, {}, "true", "false" %></td>
                      <td><%= link_to "確認", user_path(day.user_id, date: day.worked_on.beginning_of_month),
                                      target: :_blank, rel: "noopener noreferrer", class: "btn btn-primary" %></td>
                    </tr>
                  </tbody>
                <% end %>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>


      <div class="modal-footer">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)} form-control" %>
      </div>
    </div>
  </div>
<% end %>