<h1>勤怠ログ</h1>
<%= form_with url: user_attendance_path, method: :get, local: true do |f| %>
  <table>
    <tr>
      <%= f.submit "検索", class: "btn btn-info" %>

      <td><%= f.select :year, @year, {selected: Time.now.year}, class: "form-control col-sm" %></td>
    </tr>
    <tr>
      <td><%= f.select :month, @month, {selected: Time.now.month}, class: "form-control" %></td>
    </tr>
  </table>
<% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div>
      <table class="table table-bordered table-striped table-condensed table-hover " id="table-attendances">
        <thead>
        <tr>
          <td colspan="3">日付</td>
          <td colspan="3">変更前出社時間</td>
          <td colspan="3">変更前退社時間</td>
          <td colspan="3">変更後出社時間</td>
          <td colspan="3">変更後退社時間</td>
          <td>承認者</td>
          <td>承認日</td>
        </tr>
        </thead>
        <tbody>
        <% @log.each do |day| %>
          <% if day.confirmation_status == "承認" %>
            <tr>
              <td colspan="3"><%= day.worked_on %></td>
              <td colspan="3"><%= day.before_started_at.floor_to(15.minutes).strftime("%H:%M") if day.before_started_at.present? %></td>
              <td colspan="3"><%= day.before_finished_at.floor_to(15.minutes).strftime("%H:%M") if day.before_finished_at.present? %></td>
              <td colspan="3"><%= day.started_at.floor_to(15.minutes).strftime("%H:%M") if day.started_at.present? %></td>
              <td colspan="3"><%= day.finished_at.floor_to(15.minutes).strftime("%H:%M") if day.finished_at.present? %></td>
              <td><%= day.change_boss %></td>
              <td colspan="3"><%= day.approval_date.strftime('%Y/%m/%d') if day.approval_date.present? %></td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>